*{
    padding: 0%;
    margin: 0%;
    outline: none;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
}
body{
    background: url(ig.jpg)no-repeat ;
    background-size: 2000px;
    background-color: transparent;
}
.container{
    width: 300px;
    height: 600px;
    background-color: #082032;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(5, 129, 171);
    text-align: center;
    padding: 20px 0px;
}
label{
    color: aliceblue;
    margin: 10px;
}
input{
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    font-size: 18px;
    width:150 px;
    height: 30px;
    border-radius: 5 px;
    border: none;
    color:black;
    background-color:white;
    font-weight:999;
}
p{
    color: aliceblue;
    margin-top: 10px;
}
